body {
    color: red;
}

/*
@media (max-width: 500px) {
    body {
        color: blue;
    }
}
*/
@media ( orientation: portrait) {
    .title {
      color: yellow;
      background-color: black;
      text-align: center;
      padding: 5%;
    }
}

@media ( orientation: landscape) {
    .subtitle {
      color: green;
      background-color: orange;
      text-align: center;
      padding: 5%;
    }
}