<!-- All the content from this page will be used as out HTML template - we will write:
extends 'base.html' at the top of every page we want the content to appear  -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename = 'main.css')}}"> 
    <link rel="stylesheet" href="{{url_for('static', filename = 'style.css')}}"> 
<!-- added type="text/javascript" to correct error
added darkmode.js to get darkmode button working -->
<script src="{{url_for('static', filename = 'app.js')}}" ></script>
<script src="{{url_for('static', filename = 'darktoggle.js')}}" ></script>
    <title>JavaScript Events</title>
</head>

<body>
    
    <header>
        <nav>
            <a href="{{ url_for('alias.admin')}}">Admin</a> 
            <a href="{{ url_for('alias.home')}}">Javascript Original</a> 
            <a href="{{ url_for('alias.about')}}">About Project</a>
            <a href="{{ url_for('alias.page1')}}">Page1</a>
            <a href="{{ url_for('alias.page2')}}">Page2</a>
            <a href="{{ url_for('alias.page3')}}">Page3</a>
            <a href="{{ url_for('alias.page4')}}">Page4</a>
            <a href="{{ url_for('alias.page5')}}">Page5</a>
        </nav>
        <h1>Welcome to the {codenation} backend project</h1>
    </header>

    {% block content %}
    {% endblock %}
</body>
</html>