<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Pages</title>
</head>

<body>
    {% block content %}
    <nav>
        <ul>
            <li>Home</li>
            <li>Contact</li>
            <li>About</li>
        </ul>
    </nav>
    <h1>This is the main page</h1>
    
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis quos veniam at, tempora debitis saepe voluptate
        culpa eos. Aliquid, tempore.</p>
    {%endblock%}
</body>

</html>